<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Password Reset Request</title>
</head>
<body>
    <h2>Hello {{ user.get_username }},</h2>
    <p>You requested a password reset for your SocialHub account.</p>
    <p>Click the link below to reset your password:</p>
    <p>
        <a href="{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}">
            Reset My Password
        </a>
    </p>
    <p>If you didn’t request this, you can ignore this email.</p>
    <p>Thanks,<br>The SocialHub Team</p>
</body>
</html>
